html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

li {
  font-size: 1rem;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --bg-color: #fff;
  --light-bg: #eee;
  --text-color: #060607  ;
  --main-color: #03a9f4;
  --alt-color: #2196f3;
  --gredient: linear-gradient(98.73deg, var(--main-color) -52.43%, rgba(254, 31, 39, 0) 82.99%);
}

body {
  height: 100vh;
}

.btn-primary {
  background-color: var(--main-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--alt-color);
}

.heading {
  margin-bottom: 40px;
}

.heading h1 {
  text-align: center;
  margin: 0 auto;
}


section {
  min-height: 100vh;
  padding: 60px 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-inline: 5%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color);

}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse ul {
  margin-left: auto;
}

.navbar-collapse ul li a {
  color: var(--text-color);
  font-size: 1.1rem;
  transition: 0.3s;
}

.navbar-collapse ul li a:hover {
  color: var(--main-color);
}

.navbar-expand-lg {
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--bg-color);
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main * {
  z-index: 999;
}


main .text {
  text-align: center;
  color: var(--bg-color);
}

main .text h1 {
  font-size: 6rem;
  font-weight: bold;
  color: var(--main-color);
}

main .text p {
  font-size: 2rem;
  font-weight: 500;
}


main .text a.btn {
  background-color: var(--main-color);
  padding-inline: 20px;
  font-size: 1.2rem;
  border: none;
  transition: 0.3s;
}

main .text a.btn:hover {
  background-color: var(--alt-color);
}

#Why {
  min-height: 30vh;
  background-color: var(--light-bg);
}

.features {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}



#Why .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#Why .feature .circle {
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: dashed 1.5px var(--bg-color);
  outline-offset: -6px;
}

#Why .feature i {
  font-size: 2rem;
  color: var(--bg-color);
}

#Why .feature h3 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: capitalize;
}

#Destinations .card-container {
  width: 90%;
  margin-top: 60px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 40px;
}

#Destinations .card-container .card {
  margin: 0 auto;
  text-align: center;
}


#Destinations .card-container .card .card-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}




#Destinations .card-container .card a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}


#Destinations .card-container .card img {
  height: 260px;
  object-fit: cover;
}

#Gallery {
  background-color: var(--light-bg);
}

#Gallery .img-container {
  margin: 0 auto;
  margin-top: 60px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

#Gallery .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transition: 0.3s;
}

#Gallery .img-container img:hover {
  filter: brightness(1);
}

main video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



#wave-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 1000;
  transition: 1s;
}

#waves {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25%;
  overflow: hidden;
}


.wave-01 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 50%;
  background-color: rgba(0, 190, 255, 0.4);
  border-radius: 45%;
  animation: rotate 10s linear infinite;
}


.wave-02 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 57%;
  background-color: rgba(0, 70, 110, 0.4);
  border-radius: 43%;
  animation: rotate 7s linear infinite;
}

.wave-03 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 60%;
  background-color: rgba(0, 90, 110, 0.4);
  border-radius: 40%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}







#Contact {
  background-color: var(--bg-color);
  color: var(--bg-color);
}

#Contact .heading h1 {
  color: var(--bg-color);
}

#Contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:70%;
  padding: 0;
}

#Contact .contact {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
}

#Contact .info {
  flex-basis: 40%;
  padding: 40px;
  background-color: var(--light-bg);
  text-align: center;

}

#Contact .info h3 {
  color: var(--text-color);
}


#Contact .info ul {
  margin: 80px 0;
  text-align: left;
}

#Contact .info li {
  padding: 40px 0;
  font-size: 1.2rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

#Contact .info i {
  margin-right: 10px;
  color: var(--main-color);
  width: 20px;
  font-size: 1.5rem;
}

#Contact .info .icons i {
  padding: 20px;
  font-size: 1.8rem;
  transition: 0.3s;
}

#Contact .info .icons i:hover {
  color: var(--text-color);
  transform: scale(1.2);
}

#Contact .icons a {
  margin-right: 10px;
}

#Contact .send {
  flex-basis: 80%;
  padding: 40px;
  background-color: var(--alt-text);
}

#Contact .send h3 {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 80px;
  color: var(--bg-color);
}

#Contact form {
  margin-top: 10px;
}

#Contact .flex {
  display: flex;
  gap: 10px;
}

#Contact .flex label {
  width: 50%;
}

#Contact label {
  display: block;
  margin-bottom: 20px;
}

#Contact .input,
#Contact .input01 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#Contact input:focus,
#Contact textarea {
  outline: none;
  border: 1px solid var(--main-color);
}

#Contact button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 80px;
}

#Contact button:hover {
  background-color: var(--light-bg);
}

#Contact .map {
  width: 100%;
  height: 450px;
}

#Contact .map iframe {
  width: 100%;
  height: 100%;
}

.fade {
  opacity: 0;
}
